<div class="row" style="height: 600px">
	<div class="col md-12" >
		<div class="row" style="height: 100%; width: 100%">
			<div class="col-md-12" style="position: absolute; height: 100%;width: 100%">
				<img class="nav-bar-image" src="assets/caracas_edificios.jpg" alt="">
			</div>
			<div class="col-md-6" style="position: relative;">
				<h1 style="padding-left: 15px;">
						<img  src="assets/SGC2.png" style="width: 100px;">
				</h1>
			</div>				
			<div class="col md-6" style="position: relative;">
				<div class="row">
					<div class="col md-4">
						<h3>Sobre Nosotros</h3>
					</div>
					<div class="col md-4">
						<h3>contactos</h3>	
					</div>					
				</div>						
			</div>					
		<div class="col-md-12" style="position: relative;color:white;float: left;padding-left: 10px; width: 100%">
			<div class="col md-12">
				<div class="spacer s1" id="trigger"></div>
				<!--SGC-->
				<div class="row" >
					<div class="spacer s1" ></div>
					<!--PRIMER LETRA: S-->
					<div class="col-3 full-size" style="padding-right: 50px; padding-left: 50px;">
						<div class="row" style="height: 50px;">
							<div class="col-12 full-size" >		

							</div>
						</div>
						<div class="row" style="height: 50px;">
							<div class="col-4 full-size">					
								<div class="full-size" >
									
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="border-radius: 30px 0px 0px 30px;background-color: #3399ff">
										
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="border-radius: 0px 30px 0px 0px;background-color: #3399ff">
										
								</div>	
							</div>
						</div>		
						<div class="row" style="height: 25px;">
							<div class="col-3 full-size">
												

								<div id="animate" class="full-size" style="border-radius: 30px 30px 0px 0px;background-color: #3399ff">
										
								</div>	
							</div>
							<div class="col-3 full-size">
												

								<div class="full-size" >
												
								</div>	
							</div>
							<div class="col-3 full-size">
												

								<div class="full-size">
									
								</div>	
							</div>
							<div class="col-3 full-size">
																			

								<div id="animate" class="full-size" style="border-radius: 0px 0px 30px 30px;background-color: #3399ff">
										
								</div>	
							</div>
						</div>
						<div class="row" style="height: 55px;">
							<div class="col-3 full-size">
												

								<div id="animate" class="full-size" style="background-color: #3399ff">
										
								</div>	
							</div>
							<div class="col-3 full-size">
												

								<div class="full-size" >
												
								</div>	
							</div>
							<div class="col-3 full-size">
												

								<div class="full-size">
									
								</div>	
							</div>
							<div class="col-3 full-size">
												

								<div class="full-size">
										
								</div>	
							</div>
						</div>
						<div class="row" style="height: 50px;">
							<div class="col-4 full-size">
								<div id="animate" style="border-radius: 0px 0px 0px 30px;background-color: #3399ff; height: 100%">
													
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" style="background-color: #3399ff; height: 100%">
													
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" style="border-radius: 0px 50px 0px 0px;background-color: #3399ff; height: 100%">
													
								</div>	
							</div>
						</div>
						<div class="row" style="height: 50px;">
							<div class="col-4 full-size">
								<div class="full-size">
													
								</div>	
							</div>			
							<div class="col-4 full-size">
								<div class="full-size">
													
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" style="background-color: #3399ff; height: 100%">
													
								</div>	
							</div>
						</div>
						<div class="row" style="height: 25px;">
							<div class="col-4 full-size">
								<div id="animate" style="border-radius: 30px 30px 0px 0px;background-color: #3399ff; height: 100%">
													
								</div>	
							</div>		
							<div class="col-4 full-size">
								<div class="full-size">
													
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" style="border-radius: 0px 0px 30px 0px;background-color: #3399ff; height: 100%">
													
								</div>	
							</div>
						</div>
						<div class="row" style="height: 50px;">
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="border-radius: 0px 0px 0px 30px;background-color: #3399ff">				
								</div>	
							</div>
							<div class="col-4 full-size">								
								<div id="animate" class="full-size" style="border-radius: 0px 0px 30px 0px;background-color: #3399ff">		
											
								</div>	
							</div>
							<div class="col-4 full-size">
										

								<div class="full-size">
													
								</div>	
							</div>
						</div>		
						<div class="row" style="height: 50px;">
							<div class="col-12 full-size">			

								<div class="full-size">
									
								</div>		
							</div>		
						</div>		
					</div>
					<!--SEGUNDA LETRA: G-->
					<div class="col-3 full-size" style="padding-right: 50px;">		
						<div class="row" style="height: 50px;">
							<div class="col-12 full-size">			
							</div>
						</div>				
						<div class="row" style="height: 50px;">
							<div class="col-4 full-size">					
								<div id="animate" class="full-size" style="border-radius: 30px 0px 0px 0px;background-color: #3399ff">
									
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="background-color: #3399ff">
										
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="border-radius: 0px 30px 0px 0px;background-color: #3399ff">
										
								</div>	
							</div>
						</div>
						<div class="row" style="height: 50px;">
								
								<div class="col-4 full-size">
									<div id="animate" style="border-radius: 0px 0px 0px 0px;background-color: #3399ff; height: 100%">
														
									</div>	
								</div>
								<div class="col-4 full-size">
									<div  class="full-size">
														
									</div>	
								</div>
								<div class="col-4 full-size">
									<div id="animate" style="border-radius: 0px 0px 30px 30px;background-color: #3399ff; height: 100%">
														
									</div>	
								</div>
						</div>
						<div class="row" style="height: 30px;">
								
								<div class="col-4 full-size">
									<div id="animate" style="background-color: #3399ff; height: 100%">
														
									</div>	
								</div>
								<div class="col-4 full-size">
									<div  class="full-size">
														
									</div>	
								</div>
								<div class="col-4 full-size">
									<div  class="full-size">
														
									</div>	
								</div>
						</div>
						<div class="row" style="height: 50px;">
							<div class="col-4 full-size">
												

								<div id="animate" class="full-size" style="background-color: #3399ff">
										
								</div>	
							</div>
							<div class="col-1 full-size">
												

								<div  class="full-size">
												
								</div>	
							</div>
							<div class="col-3 full-size">
												

								<div id="animate" class="full-size" style="border-radius: 30px 0px 0px 30px;background-color: #3399ff">
									
								</div>	
							</div>
							<div class="col-4 full-size">
												

								<div id="animate" class="full-size" style="border-radius: 0px 30px 0px 0px;background-color: #3399ff">
										
								</div>	
							</div>
						</div>
						<div class="row" style="height: 68.5px;">
								
								<div class="col-4 full-size">
									<div id="animate" style="background-color: #3399ff; height: 100%">
														
									</div>	
								</div>
								<div class="col-4 full-size">
									<div  class="full-size">
														
									</div>	
								</div>
								<div class="col-4 full-size">
									<div id="animate" style="background-color: #3399ff; height: 100%">
														
									</div>	
								</div>
						</div>
						<div class="row" style="height: 52px;">
								
								<div class="col-4 full-size">
									<div id="animate" style="border-radius: 0px 0px 0px 30px;background-color: #3399ff; height: 100%">
														
									</div>	
								</div>
								<div class="col-4 full-size">
									<div id="animate" style="background-color: #3399ff; height: 100%">
														
									</div>	
								</div>
								<div class="col-4 full-size">
									<div id="animate" style="border-radius: 0px 0px 30px 0px;background-color: #3399ff; height: 100%">
														
									</div>	
								</div>
						</div>
						<div class="row" style="height: 50px;">
							<div  class="col-12 full-size">			
							</div>
						</div>	
					</div>
					<!--TERCERA LETRA: C-->
					<div class="col-3 full-size" style="padding-left: 50px;">	
						<div class="row" style="height: 50px;">
							<div  class="col-12 full-size">			
							</div>
						</div>	
						<div class="row" style="height: 50px;">
							<div class="col-4 full-size">					
								<div id="animate" class="full-size" style="border-radius: 30px 0px 0px 0px;background-color: #3399ff">
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="background-color: #3399ff">
										
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="border-radius: 0px 30px 0px 0px;background-color: #3399ff">
										
								</div>	
							</div>
						</div>
						<div class="row" style="height: 50px;">
							<div class="col-4 full-size">					
								<div id="animate" class="full-size" style="background-color: #3399ff">
									
								</div>	
							</div>
							<div class="col-4 full-size">
								<div  class="full-size">
										
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="border-radius: 0px 0px 30px 30px;background-color: #3399ff">
										
								</div>	
							</div>
						</div>
						<div class="row" style="height: 75px;">
							<div class="col-4 full-size">
								<div id="animate" style="background-color: #3399ff; height: 100%">
													
								</div>	
							</div>
							<div class="col-4 full-size">
								<div  class="full-size">
													
								</div>	
							</div>
							<div class="col-4 full-size">
								<div  class="full-size">
													
								</div>	
							</div>
						</div>
						<div class="row" style="height: 75px;">
							<div class="col-4 full-size">
								<div id="animate" style="background-color: #3399ff; height: 100%">
													
								</div>	
							</div>
							<div class="col-4 full-size">
								<div class="full-size">
													
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" style="border-radius: 30px 30px 0px 0px;background-color: #3399ff; height: 100%">
													
								</div>	
							</div>
						</div>
						<div class="row" style="height: 50px;">
							<div class="col-4 full-size">					
								<div id="animate" class="full-size" style="border-radius: 0px 0px 0px 30px;background-color: #3399ff">
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="background-color: #3399ff">
										
								</div>	
							</div>
							<div class="col-4 full-size">
								<div id="animate" class="full-size" style="border-radius: 0px 0px 30px 0px;background-color: #3399ff">
										
								</div>	
							</div>
						</div>
						<div class="row" style="height: 50px;">
							<div  class="col-12 full-size">			
							</div>
						</div>	

						
					</div>
				</div>

									
			</div>			
		</div>		
		</div>	
			
	</div>	
</div>
