<div class="row" style="padding-top: 10px">
	<div class="col-6 border-right" >
		<div 
			class="animate__animated animate__fadeIn slow-animation" 
			style="padding-top: 60px"
		>
			<h1 
				align="center"
			>Administración Online
			</h1>
			<img 
				src="assets/SGC.jpeg" 
				style="width: 600px;height: 300px;padding-left:50px;"
			>
		</div>
	</div>
	<div 
		class="col-6"
	>
		<div 
			class="row" 
			style="padding-top: 150px"
		>
			<div 
				class="col-12" 
				align="center" 
			>
				<button 
					class="button-g"
				>
					<i>iniciar sesion</i>
				</button>				
			</div>
		</div>
		<div 
			class="row" 
			align="center" 
			style="padding-top: 10px"
		>
			<div 
				class="col-12" 
				align="center"
			>
				<button class="button-g">
					<i>registrarse</i>
				</button>
			</div>
		</div>		
	</div>
</div>
