<div class="nav-bar-image" style="padding-top: 10px" id="mainElement">
	<div class="row">
		<div class="col-6 border-right" >	
			<div 
				id="menuEle1"
				class="animate__animated animate__fadeIn slow-animation" 
				style="padding-top: 60px"
			>
				<img 
					src="assets/SGC2.png" 
					style="width: 600px;height: 300px;padding-left:50px;"
				>
			</div>
		</div>
		<div 
			class="col-6"
			id="menuEle2"		 
		>
			<div 
				class="row" 
				style="padding-top: 150px"
			>
				<div 
					class="col-12" 
					align="center" 
				>
					<a class="menuIcon" (click)="menuClick()">				  
					
						<button 
							class="button-g"
							id="example"
						>
							<i>iniciar sesion</i>
						</button>	
					</a>			
				</div>
			</div>
			<div 
				class="row" 
				align="center" 
				style="padding-top: 10px"
			>
				<div 
					class="col-12" 
					align="center"
				>
					<button class="button-g" id="example2">
						<i>registrarse</i>
					</button>
				</div>
			</div>		
		</div>
	</div>
</div>
<div class="nav-bar-image" style="padding-top: 10px" id="mainElement">
	<div class="row">
		<div class="col-6 border-right" >	
			<div 
				id="menuEle1"
				class="animate__animated animate__fadeIn slow-animation" 
				style="padding-top: 60px"
			>
				<img 
					src="assets/SGC2.png" 
					style="width: 600px;height: 300px;padding-left:50px;"
				>
			</div>
		</div>
		<div 
			class="col-6"
			id="menuEle2"		 
		>
			<h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, fugiat.</h1>
			<h3>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Eveniet possimus magnam iure repellat sunt corrupti illo fugit esse? Corrupti velit, tempore. Veniam aspernatur officia iusto mollitia distinctio debitis voluptatum perferendis repellat voluptates possimus provident atque alias eos cupiditate enim, ex quidem sunt consequuntur? Nulla aliquid molestiae nisi voluptatum hic nemo saepe at maiores sunt esse! Porro alias repudiandae necessitatibus velit voluptatibus impedit, corrupti ratione sit cum libero numquam optio laboriosam tenetur reiciendis tempore dolorum autem hic facere debitis vitae. Quas nobis doloribus recusandae vero facilis distinctio non ad repellat, voluptatum pariatur, vel mollitia expedita aspernatur quasi quaerat, debitis, aliquid excepturi!</h3>			
		</div>
	</div>
</div>
