.button-g{
	width:  200px;
	height: 50px;
	background-color: #009933;	
	text-align: center;
    padding: 6px 0;
    font-size: 20px;
    line-height: 1.428571429;
    border-radius: 10px;	
}

.button-g:hover{
	background-color:#33cc33;
	padding:10px;			
}

.slow-animation{
  --animate-duration: 5s;
}